@background-dark: #512DA8;
@background-light: #9575CD;
@background-pale: #D1C4E9;
@header-color: floralwhite;


.modal-header{
    background: @background-dark;
    color: @header-color;

    .close{
        color: @background-pale;
    }
}

.modal-body{
    background: @background-pale;
}